<!DOCTYPE html>
{% load static %}
<html>
<head>
    <meta charset="utf-8">
    <link href="{% static "css/style.css" %}" rel="stylesheet" type="text/css" />
    <title>AiwaPhotes</title>
</head>
<body>
    <p><a name="top"></a></p>
    <div class="wrapper">
        <div class="header">
            <div class="logo"><a href="{% url 'index' %}">Aiwa<span class="black">Photes</span><span class="gray">.ru</span></a><p></p></div>
            <ul class="nav">
                <li><a href="{% url 'index' %}">Главная</a></li>
                <li><a href="{% url 'photographs' %}">Фотографы</a></li>
            </ul>
        </div>
        <div class="content">
            <div class="main">
                <p></p>
                <p><h1>Лучшие фотографы мира</h1></p>
                <p><h1>Содержание</h1></p>
                <h1>{{info.name}} {{info.surname }}</h1>
                <p></p>
                <p></p>
                <hr>
                {% if info.img %}
                    <img src="/media/{{ info.img }}" alt="{{ info.name }}">
                {% endif %}
                <hr>
                <p></p>
                <p></p>
                <p></p>
                <h3><p>{{info.text}}</p></h3>



    <div class="footer">
        <p><a href="#top">Наверх</a></p><a href="index.html">Вернуться на главную</a></p>
    </div>
    </div>
</body>
</html>